.bienvenida {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px 0;
}

.tituloBienvenida{
  color: whitesmoke;
  margin-bottom: 10px;
}
.subtituloBienvenida{
  color: var(--gris);
}

@media (max-width: 640px) and (min-width: 360px) {
  .tituloBienvenida{
    font-size: large;
  }
  .subtituloBienvenida{
    font-size: small;
  }
}
