.tareasContainer {
  border-bottom: 2px solid whitesmoke;
  width: 90%;
  padding: 10px;
  margin: auto;
}
.tiempoTarea {
  width: fit-content;
  background-color: darkred;
  padding: 2px;
  color: whitesmoke;
  margin-left: 20px;
  border-radius: 5px;
}
@media (max-width: 640px) and (min-width: 360px) {
}
